.hSHEnI .circle {
    position: absolute;
    width: 26px;
    height: 26px;
    display: block;
    background: rgb(0, 182, 240);
    top: 41px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 15px;
    text-align: center;
    line-height: 26px;
    box-shadow: rgb(102, 102, 102) 0px 0px 2px;
}